@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  font-family: Poppins;
  margin: 0;
  padding: 0;
  outline: 0;
  transition: all 100ms ease-in-out;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

:root {
  font-size: 16px;
  --orange: #f7301d;
  --white: #ffffff;
  --whiteish: rgba(255, 255, 255, 0.75);
  --whitent: rgba(255, 255, 255, 0.5);
  --black: #000000;
  --darkest: #0a0a0a;
  --dark-gray: #111111;
  --dark-grayish: #141414;
  --gray: #181818;
  --box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.5);
}

body {
  background-color: var(--darkest);
}

body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background: var(--darkest);
}
body::-webkit-scrollbar-thumb {
  background: var(--orange);
}

.flex-cc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-cs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-sc {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.direction-column {
  flex-direction: column;
}
