/* HERO SECTION */
/* HERO SECTION */
/* HERO SECTION */

.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroSection h2 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  color: var(--whiteish);
}

.heroSection h1 {
  color: var(--white);
  font-family: Poppins;
  font-weight: 800;
  font-size: 4rem;
  line-height: 3.5rem;
}

.heroSection a:first-of-type {
  background: var(--blacknt);
  border: 0.1rem solid var(--white);
  border-radius: 0.35rem;
  font-weight: 700;
  font-size: 1.15rem;
  padding: 0.4rem 0;
  text-align: center;
  width: 11rem;
  margin: 1.5rem;
  color: var(--white);
}

.heroSection a:first-of-type:hover {
  border: 0.1rem solid var(--orange);
}

.heroSection div {
  width: 11rem;
  display: flex;
  justify-content: space-between;
}

.heroSection div svg:hover * {
  color: var(--orange);
  fill: var(--orange);
  cursor: pointer;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* SERVICES SECTION */
/* SERVICES SECTION */
/* SERVICES SECTION */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.servicesSection {
  padding: 5rem 15% 8rem 15%;
  background: var(--darkest);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.servicesSection h1 {
  color: var(--white);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 1rem;
  /* identical to box height */
}

.servicesSection div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
